:root {
    --color: black;
    --background-color: white;
}

body * {
    box-sizing: border-box;
    display: block;
}

html {
    color: var(--color);
    background-color: var(--background-color);
}

.flex-column,
.flex-row {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-item {
    flex: 1;
}

.flex-none {
    flex: none;
}

.configuration,
.controls {
    color: var(--color);
    background-color: var(--background-color);
    border: 1px solid var(--color);
    border-radius: 0;
    text-align: center;
    font-size: 5lvh;
    width: 100%;
    display: block;
}

.configuration {
    height: calc(5lvh + 1rem);
}

.controls {
    color: transparent;
    text-shadow: 0 0 0 var(--color);
    height: 10lvh;
}

label>input[type="checkbox"] {
    display: none;
}

label>input[type="checkbox"]:checked+div {
    font-weight: 900;
    text-transform: uppercase;
}

#character-input {
    width: 12lvh;
}

.flex-center {
    align-items: center;
    justify-items: center;
}

div.errors-container>div.error {
    width: 100%;
    border: 1px solid var(--color);
    text-align: center;
    font-size: 2lvh;
}

div.animations-container>div.animation-container {
    width: 100%;
}

div.animations-container>div.animation-container>.animation {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    pointer-events: none;
}