:root {
    --color: black;
    --background-color: white;
}

html {
    color: var(--color);
    background-color: var(--background-color);
}

.flex-column,
.flex-row {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-item {
    flex: 1;
}

.flex-none {
    flex: none;
}

.options,
.controls {
    color: var(--color);
    background-color: var(--background-color);
    border: 1px solid var(--color);
    border-radius: 1rem;
    text-align: center;
    font-size: 5rem;
    width: 100%;
}

.controls {
    height: 6rem;
}

#character-input {
    box-sizing: border-box;
    width: 12rem;
}

.flex-center {
    align-items: center;
    justify-items: center;
}

div.strokes>.stroke {
    margin: 10px;
    width: 360px;
    height: 360px;
    border: 1px solid rgb(0, 0, 0);
}